img {
	margin: 30px 0 0 0;
}
h1 {
	margin-top: 20px;
}
p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.demo-headline p {
	color: #BDC3C7;
	font-size: 50px; 
	font-family: Lato, sans-serif;
}

.disciplines {
	margin-top: 50px;
	color: #95A5A6;
}
.contact-us img {
	width: 100px;
	margin-left: 50px;
	margin-bottom: 60px;
	float: left;
}
.contact-us .lead {
	float: left;
	margin: 60px 30px 0px 20px;
}

.team p {
	text-align: center;
}
.team img {
width: 200px;
height: 200px;
border-radius: 50%;
display: block;
margin: 0 auto;
margin-bottom: 20px;
}